.activeadmin-lightbox-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;

  &.has-shadow {
    background: rgba(0, 0, 0, 0.7);
  }
}

.activeadmin-lightbox-content {
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(#000, 0.5);
  margin: 0;
  padding: 0;

  left: 50%;
  top: 50%;

  .activeadmin-lightbox-close-button {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;

    top: 5px;
    right: 5px;

    width: 40px;
    height: 40px;

    color: #fff;

    font-size: 24px;
    line-height: 35px;
    text-align: center;

    background: rgba(#000, 0.3);
    border: 0;

    &:hover {
      background: #000;
    }
  }
}

.activeadmin-lightbox-imagecontent {
  overflow: hidden;
}
